
# Covid data set

In [24]:
import pandas as pd
import numpy as  np

In [2]:
data=pd.read_csv("G:/data_analysis/complete.csv")

In [3]:
data.head()

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1,0,0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1,0,0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2,0,0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3,0,0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3,0,0,0,0,0

In [5]:
data.shape

(3125, 10)

In [6]:
data.index

RangeIndex(start=0, stop=3125, step=1)

In [7]:
data.columns

Index(['Date', 'Name of State / UT', 'Latitude', 'Longitude',
       'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated',
       'New cases', 'New deaths', 'New recovered'],
      dtype='object')

In [8]:
data.dtypes

Date                          object
Name of State / UT            object
Latitude                     float64
Longitude                    float64
Total Confirmed cases          int64
Death                          int64
Cured/Discharged/Migrated      int64
New cases                      int64
New deaths                     int64
New recovered                  int64
dtype: object

In [12]:
data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Haryana', 'Rajasthan',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram',
       'Andaman and Nicobar Islands', 'Goa', 'Assam', 'Jharkhand',
       'Arunachal Pradesh', 'Tripura', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim', 'Nagaland',
       'Telangana'], dtype=object)

In [13]:
data['Name of State / UT'].nunique()

39

In [34]:
data.count()

Date                         3125
Name of State / UT           3125
Latitude                     3125
Longitude                    3125
Total Confirmed cases        3125
Death                        3125
Cured/Discharged/Migrated    3125
New cases                    3125
New deaths                   3125
New recovered                3125
dtype: int64

In [35]:
data['Name of State / UT'].value_counts()

Kerala                                      141
Delhi                                       109
Uttar Pradesh                               107
Rajasthan                                   107
Haryana                                     107
Tamil Nadu                                  104
Karnataka                                   102
Maharashtra                                 102
Punjab                                      102
Telengana                                   102
Andhra Pradesh                               99
Uttarakhand                                  96
Odisha                                       95
Puducherry                                   93
Chhattisgarh                                 92
West Bengal                                  91
Gujarat                                      91
Ladakh                                       90
Madhya Pradesh                               90
Jammu and Kashmir                            90
Himachal Pradesh                             90
Chandigarh                                   90
Bihar                                        89
Manipur                                      87
Mizoram                                      86
Andaman and Nicobar Islands                  85
Goa                                          85
Assam                                        79
Jharkhand                                    79
Arunachal Pradesh                            77
Tripura                                      73
Meghalaya                                    66
Dadra and Nagar Haveli and Daman and Diu     44
Sikkim                                       26
Nagaland                                     24
Union Territory of Ladakh                    14
Union Territory of Jammu and Kashmir         12
Telangana                                     7
Union Territory of Chandigarh                 2
Name: Name of State / UT, dtype: int64

In [58]:
data1=data[(data.Latitude == 10.8505) & (data.Longitude == 76.2711)]

In [72]:
total_case=data1['New cases'].sum()

In [73]:
print(total_case)

2696

In [76]:
total_recovered=data1['New recovered'].sum()

In [77]:
print(total_recovered)

1326